<link rel="stylesheet" href="assets/css/header.css">
<header class="header">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">
                <img src="assets/images/logo.svg" alt="Insight360 Logo">
            </a>
            
            <div class="header-actions">
                <ul class="nav-menu">
                    <li><a href="#features">Features</a></li>
                    <li><a href="#modules">Module</a></li>
                    <li><a href="#compare">Einzigartig am Markt</a></li>
                    <li><a href="#segments">Für wen ist Insight360 die ideale Lösung?</a></li>
                </ul>
                <button class="lang-selector">
                    <img src="assets/images/Language.svg" alt="">
                    EN
                </button>
                <button class="btn btn-primary btn-demo">Demo vereinbaren</button>
            </div>
        </div>
    </nav>
</header>

