* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.btn {
  display: inline-block;
  padding: 12px 26px;
  border-radius: var(--border-radius);
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
  font-size: var(--font-size-base);
}

.btn-primary {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
}

section {
  padding: var(--spacing-2xl) 0;
}

section h2 {
  font-size: var(--font-size-3xl);
  /* margin-bottom: var(--spacing-xl); */
  text-align: center;
  color: var(--text-color);
}
