.modules h2 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.modules p {
  color: #4b5563;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  max-width: 826px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.modules-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-lg);
}

.module-card {
  background-color: var(--bg-color);
  background-image: url("../images/UnsereModuleCardTop.svg"),
    url("../images/UnsereModuleCardBottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-size: auto, auto;
  padding: 20px;
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.module-card:hover {
  border-color: var(--primary-color);
  box-shadow: var(--shadow-md);
}

.module-card h3 {
  font-size: 24px;
  margin-bottom: 8px;
  color: var(--primary-color);
  font-weight: 400;
  text-align: left;
}

.module-card > p {
  color: #4b5563;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 var(--spacing-md) 0;
  max-width: 90%;
}

.feature-bubbles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px;
  width: 100%;
  margin-top: 10px;
}

.feature-bubble {
  background-color: var(--bg-color);
  color: #4b5563;
  border: 1px solid #1515150d;
  border-radius: 100px;
  padding: 12px;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1920px) {
  .modules-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .modules-grid {
    grid-template-columns: 1fr;
  }
}
