.benchmark-section {
  background-color: #77ffeb33;
}
.benchmark-wrapper {
  background-color: white;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1394px;
  height: 318px;
  margin: auto;
}

.hero-container {
  max-width: 923px;
  text-align: center;
  margin: 0 auto;
}

.hero-title {
  font-weight: 400;
  font-size: 40px;
  color: var(--primary-color);
  line-height: 36px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 24px;
  color: #4b5563;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 12px 24px 12px 24px;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
}

.btn-primary {
  background-color: white;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: 0 4px 6px rgba(34, 168, 107, 0.1);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: white;
  box-shadow: 0 6px 12px rgba(34, 168, 107, 0.3);
  transform: translateY(-2px);
}

@media (max-width: 1280px) {
  .hero-subtitle {
    font-size: 20px;
  }
  .benchmark-wrapper {
    padding: 97px 30px;
  }
}
@media (max-width: 800px) {
  .hero-title {
    font-size: 32px;
  }
  .hero-subtitle {
    font-size: 18px;
  }
  .btn-primary {
    font-size: 10px;
  }
  .btn {
    padding: 12px 20px;
  }
  .benchmark-wrapper {
    padding: 30px 30px;
  }
}

@media (max-width: 375px) {
  .hero-title {
    font-size: 24px;
  }
  .hero-subtitle {
    font-size: 16px;
  }
  .benchmark-wrapper {
    padding: 20px 20px;
  }
  .btn-primary {
    font-size: 8px;
  }
}
