.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.testimonial-head {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.testimonial-title {
  font-size: 40px;
  font-weight: 400;
  color: var(--primary-color);
}
.testimonial-info {
  font-size: 24px;
  color: #4b5563;
  margin: auto;
}
.testimonial-card {
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 20px;
  min-width: 343px;
}
.card-head {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.card-logo {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #effff6;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-user {
  display: flex;
  flex-direction: column;
}
.card-name {
  color: #020817;
}
.card-info {
  color: #6b7280;
  font-size: 14px;
}
.testimonial-desc {
  color: #374151;
  max-width: 405px;
  font-size: 16px;
}
@media (max-width: 1280px) {
  .testimonial-desc {
    font-size: 14px;
  }
  .testimonial-title {
    font-size: 32px;
  }
  .testimonial-info {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .testimonials-grid {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
  }

  .testimonial-card {
    flex: 0 0 80%;
    scroll-snap-align: start;
    min-width: 280px;
  }

  .testimonial-desc {
    width: 100%;
  }

  .testimonials-grid::-webkit-scrollbar {
    display: none;
  }
  .testimonial-title {
    font-size: 24px;
  }
  .testimonial-info {
    font-size: 16px;
  }
}
